<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Travel App</h1>
        </header>
        <div class="container">
            <section class="plan">
                <form >
                <!-- <form onsubmit="return Client.handleSubmit(event)"> -->
                    <h2>Your Trip Plan</h2>
                    <fieldset>
                        <div class="form-group" id="input-info">
                            <label for="destination">Destination:</label>
                            <input type="text" name="destination" id="destination" size="50"
                                placeholder="Enter destination here...">
                        </div>
                        <div class="form-group" id="date-info">
                            <label for="startDate">Start Date: </label>
                            <input type="date" name="startDate" id="startDate" size="40">
                            <br>
                            <label for="endDate">End Date: </label>
                            <input type="date" name="endDate" id="endDate" size="40">
                        </div>
                        <div class="button">
                            <button type="submit" name="save" id="saveBtn">Save Trip</button> <br>
                            <button type="button" name="remove" class="remove" id="deleteBtn">Remove Trip</button>
                        </div> <!-- end of button -->
                    </fieldset>
                </form>
                <div class="error-message"></div>
            </section>
            <section class="trips">
                <img src="./src/client/images/travel.jpg" alt="travel baggage">

                <!-- <img src="https://media.istockphoto.com/photos/model-airplane-and-a-globe-picture-id1209943630?k=20&m=1209943630&s=612x612&w=0&h=iffYPbYzhVEjy8K86ZCNVBOW7PzWByhFVboKkEL5anA=" alt="travel"> -->
                <div class="content">
                    <p> <span>My trip to:</span> [city name]</p>
                    <p> <span>Departing:</span> [date]</p>
                    <p>Typical weather is:</p>
                    <p>high - 46, Low - 35</p>
                    <p>Mostly cloudy throughout of the day</p>
                </div>
            </section>
        </div>
        <footer>
            <h3>Travel App FEND capstone project </h3>
        </footer>
    </div>
</body>

</html>