$bg-color: #f2f2f2;
$shadow-color: #ffb6c1;
$color: rgba(238, 133, 20, 0.94);

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  background-color: $bg-color;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto-fill 1fr;
  grid-template-areas:
    'head head'
    'aside main'
    'foot foot';
  grid-gap: 10px;
}

h2 {
  display: block;
  color: $color;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2x #ffb6c1;
  text-decoration-line: underline;
}

// Plan section
.plan {
  grid-area: aside;
}

.trips {
  grid-area: main;
  // display: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
