$base-color: #382f17;
$bg-color: #f2f2f2;
$shadow-color: #ffb6c1;
$color: rgba(238, 133, 20, 0.94);
$text-color: #fff;

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  background-color: $bg-color;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(50px, minmax(300px, 1fr));
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    'head head head'
    'aside main main'
    'foot foot foot';
  grid-gap: 10px;
}

h2 {
  display: block;
  color: $color;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2x #ffb6c1;
  text-decoration-line: underline;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
// Plan section
.plan {
  grid-area: aside;
}

.trips {
  grid-area: main;
  display: none;
}

img {
  // display: block;
  height: 70%;
  width: 70%;
  margin: 10px 0;
  border-radius: 4px;
}

span,
h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  display: block;
  line-height: 1.2rem;
}

.trips {
  display: flex;
  flex-direction: row;
  align-items: center;
  // background-color: #9e9e9d;
  background-color: $bg-color;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.content {
  text-align: center;
  margin: 1.5rem;
}
