$base-color: #382f17;
$bg-color: #f2f2f2;
$shadow-color: #ffb6c1;
$color: rgba(238, 133, 20, 1);
$text-color: #fff;

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  background-color: $bg-color;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.5) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(50px, minmax(300px, 1fr));
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    'head head head'
    'main main main'
    'foot foot foot';
  grid-gap: 10px;
}

.container {
  grid-area: main;
}

h2 {
  display: block;
  color: $color;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2x #ffb6c1;
  text-decoration-line: underline;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  line-height: 1.3rem;
}

.trips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  padding: 1.5rem;
}

#city-img {
  object-fit: cover;
}

#place {
  display: flex;

  height: fit-content;
  max-width: 50vw;
  align-items: center;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.content {
  margin-left: 2rem;
  padding-top: 1.5rem;
}

#temparature {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(62, 83, 247, 0.2);
}

#low-high,
#detail {
  font-weight: bold;
  background-color: rgba(62, 83, 247, 0.2);
}

@media screen and (max-width: 600px) {
  .trips {
    width: 100vw;
    padding: 1.5rem;
  }
  .container {
    flex-direction: column;
  }
  .content {
    margin-left: 0;
    padding-top: 0;
  }
}
